/bin/
/testing/
/run/
/.gradle/
/.project
/.classpath
/.settings/
/eclipse/
/serverTest/

/BetterLoadingScreen.iml
/BetterLoadingScreen.ipr
/BetterLoadingScreen.iws
/out/
/build/
/VersionInfo/

*.launch
